asgiref
attrs
beautifulsoup4
certifi
chardet
colorama
coloredlogs
crispy-bootstrap5
distlib
dj-database-url
Django
django-cleanup
django-crispy-forms
django-environ
django-filter
djangorestframework
EasyProcess
entrypoint2
env
filelock
flatbuffers
humanfriendly
idna
imageio
jsonschema
jsonschema-specifications
lazy_loader
llvmlite
Markdown
MouseInfo
mpmath
mss
networkx
numba
numpy
onnxruntime
opencv-contrib-python
opencv-python-headless
packaging
Pillow
pipenv
platformdirs
pooch
protobuf
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMatting
PyMsgBox
pyperclip
pyreadline3
PyRect
pyscreenshot
PyScreeze
python-anticaptcha
pytweening
pytz
random-username
referencing
rembg
remove-bg
requests
rpds-py
scikit-image
scipy
six
soupsieve
sqlparse
sympy
tempmail-client
tifffile
tqdm
typing_extensions
tzdata
urllib3
virtualenv