<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>wXp Programming</title>
    {% comment %} bootstrap css {% endcomment %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body style="background:#659DBD;">
    {% comment %} navbar section start here {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <div class="container-fluid" style="width: 95%; margin:auto;">
        <a class="navbar-brand" href="{% url 'homepage' %}">wXp Programming</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'homepage' %}"
                >Home</a
              >
            </li>
           {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
            </li>
            {% endif %}
            <li><a class="nav-link" href="#">About Us</a></li>
            <li><a class="nav-link" href="#">Contact Us</a></li>
          </ul>

          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user.is_authenticated %}
              <li class="nav-item mx-2">
                <a
                  class="btn btn-warning text-white"
                  href="{% url 'profile' %}"
                  >Profile</a
                >
              </li>
              <li class="nav-item mx-2">
                <form action="{% url 'user_logout' %}" method = "post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger text-white">Logout</button>
                </form>
              </li>
              
              {% else %}
              <li class="nav-item mx-2">
                <a
                  class="btn btn-warning text-white"
                  href="{% url 'register' %}"
                  >Register</a
                >
              </li>
              
              <li class="nav-item">
                <a
                  class="btn btn-primary text-white"
                  href="{% url 'user_login' %}"
                  >Login</a
                >
              </li>
              {% endif %}
              
            </ul>
          </div>
        </div>
      </div>
    </nav>
    {% comment %} navbar section end here {% endcomment %}

    {% for i in messages %}
    <div class="">
      <h3 class="text-{{i.tags}}">{{i}}</h3>
    </div>
    {% endfor %} 




    {% block content %}
    {% endblock %}

    {% comment %} footer section start here {% endcomment %}

    <footer class="bg-dark text-white p-3">
      <div class="row container w-80 m-auto">
          
        <div class="col-md-3">
          <h4 class="text-left mb-4">FOLLOW US</h4>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-2">
              <i class="fab fa-facebook-f me-2"></i>
              <a href="https://facebook.com/waliullahx77" target="_blank" class="text-decoration-none text-white">Facebook</a>
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="fab fa-instagram me-2"></i>
              <a href="https://instagram.com/waliullah9277" target="_blank" class="text-decoration-none text-white">Instagram</a>
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="fab fa-linkedin-in me-2"></i>
              <a href="https://linkedin.com" target="_blank" class="text-decoration-none text-white">LinkedIn</a>
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="fab fa-youtube me-2"></i>
              <a href="https://youtube.com" target="_blank" class="text-decoration-none text-white">YouTube</a>
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="fab fa-github me-2"></i>
              <a href="https://github.com/waliullah9277" target="_blank" class="text-decoration-none text-white">GitHub</a>
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="fa-solid fa-code me-2"></i>
              <a href="https://leetcode.com/waliullah9252" target="_blank" class="text-decoration-none text-white">LeetCode</a>
            </li>
            <li class="d-flex align-items-center">
              <i class="fa-solid fa-bolt me-2"></i>
              <a href="https://codeforces.com/waliullah9252" target="_blank" class="text-decoration-none text-white">Codeforces</a>
            </li>
          </ul>
        </div>
          
        
          <div class="col-md-3">
              <h4>RESOURCES</h4>
              <li style="list-style:none;"><a class="text-white text-decoration-none mb-1" href="#">What’s New</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none mb-1" href="#">Recommendations</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none mb-1" href="#">FAQ</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none mb-1" href="#">Brand Assets</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none mb-1" href="#">Case Studies</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none mb-1" href="#">Public Roadmap</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none mb-1" href="#">Help Center</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none mb-1" href="#">Submit Your Idea</a></li>
          </div>
          <div class="col-md-3">
              <h4>HELP & SUPPORT</h4>
              <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Downloads</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Upgrade</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Video Tutorials</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Contact & Support</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">VIP Priority Support</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Industry Explorer</a></li>
              <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">AI Tools Repository</a></li>
          </div>

          <div class="col-md-3">
            <h4>COMPANY</h4>
            <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">About</a></li>
            <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Blog</a></li>
            <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Support Policy</a></li>
            <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Privacy Policy</a></li>
            <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Terms and Conditions</a></li>
            <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">We’re Hiring!</a></li>
            <li style="list-style:none;"><a class="text-white text-decoration-none" href="#">Bug Bounty Program</a></li>
        </div>
      </div>
      <hr>
      <p class="text-center"><small>Copyright ©2025 Waliullah. All rights reserved</small></p>
  </footer>
    {% comment %} footer section end here {% endcomment %}

    {% comment %} here is a script file {% endcomment %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>