
    
    <div style = 'background-color: gray; padding: 60px;'>
        <h3 style = 'text-align:center; color:white;'>Thanks for creating an account in wXp Programming</h3>
        <p style = "color: white; text-align:center;">To active your account click this link: <a style = 'color: LightYellow; text-decoration:none;' href = {{conform_link}}>Conformation Link {{conform_link}} </a></p>
        {% comment %} <h4 style = 'color:Tomato; text-align:center'><a style = "text-decoration:none; color: white;" href = 'https://spread-knowledge.onrender.com/' target = "_blank">Team Spread Knowledge</h5> {% endcomment %}
    </div>
