{% extends "base.html" %}
{% block content %}

<div class="container w-80 m-auto">
  <h1>Welcome Your Favorite Blog List</h1>
</div>

{% comment %} <div class="col-md-12 p-4 container w-80 m-auto">
  <h5>All Categories</h5>
  {% for cat in category %}
  <a href="{% url 'category_wise_post' cat.slug %}" class="text-decoration-none text-white btn btn-success btn-sm" >{{cat.name}}</a>
  {% endfor%}
</div> {% endcomment %}

<div class="row mt-4 container w-80 m-auto">
  {% for favorite in favorites %}
  <div class="col-sm-6 mb-sm-0">
    <div class="card mb-3">
      <div class="card-body">
        <img src="{{favorite.post.image.url}}" class="card-img-top" alt="card image">
        <h5 class="card-title"><a href="{% url 'details_post' favorite.post.id %}" class="text-decoration-none text-dark">{{favorite.post.title}}</a></h5>
        <p class="card-text">{{favorite.post.content |truncatewords:10}}</p>
        <p>Author: {{favorite.post.author.first_name}} {{favorite.post.author.last_name}}</p>
        <p>
          Category : {% for cat in favorite.post.category.all%}
          <button class="btn btn-primary btn-sm m-2 disabled">
            {{cat.name}}
          </button>
          {% endfor %}
        </p>
        {% if user.is_authenticated %}
                <a href="{% url 'remove_favorite_post' favorite.post.id %}" class="btn btn-success btn-sm text-white text-decoration-none" >Remove Favorite</a>
            {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}