{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12 " style="width: 90%; margin:auto;">
    <div class="card m-2">
        <div class="card-body">
            <img src="{{post.image.url}}" class="card-img-top" alt="..." style="width:100%;">
            <h1 class="card-title">{{post.title}}</h1>
            <p class="card-text">{{post.content}}</p>
            <p>Author : {{post.author.first_name}} {{post.author.last_name}}</p>
            <p>
                Category : {% for cat in post.category.all %}
                <button class="btn btn-warning btn-sm m-2" disabled>
                    {{cat.name}}
                </button>
                {% endfor %}
            </p>
            {% if user.is_authenticated %}
                <a href="{% url 'add_to_favorite' post.id %}" class="btn btn-success btn-sm text-white text-decoration-none" >Add to Favorite</a>
            {% endif %}
        </div>
    </div>
</div>

{% comment %} <div class="col-md-12 p-4">
    <h5>All Categories</h5>
    {{post.category.all}}
    {% for cat in post.category.all %}
    <a href="{% url 'category_wise_post' cat.slug %}" class="text-decoration-none text-white btn btn-success btn-sm" >{{cat.name}}</a>
    {% endfor%}
</div> {% endcomment %}

{% if user.is_authenticated %}
<div class="col-8" style="width: 90%; margin:auto;">
    <div class="card m-2">
        <div class="card-body">
            <form method="post">
                <h1>Add Review</h1>
                {% csrf_token %}
                {{comment_form | crispy}}
    
                <button class="btn btn-warning">Submit</button>
        </div>
    </div>
</div>
{% endif %}

<h2>Avarage Review List</h2>
    {% for blog in blogs %}
        <p>Average Rating: {{ blog.avg_rating }}</p>
    {% endfor %}


<div class="col-8" style="width: 90%; margin:auto;">
    <div class="card m-2">
        <h5 class="p-3">Total Review : {{comments | length}}</h5>
        {% for comment in comments %}
        <div class="card-body border m-2">
                <p><b>Name: </b>{{post.author.first_name}} {{post.author.last_name}}</p>
                <p><b>Ratting: </b>{{comment.review}}</p>
                <p><b>Date and Time: </b>{{comment.created_on}}</p>
                <p><b>Comments: </b>{{comment.body}}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}